<div class="container">
  <h1>Create User</h1>

  <% unless flash.nil? %>
    <% raise 's' %>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
  <%= render "form", user: @user %>
</div>
